body {
    background-color: $background-primary;
    font-family: $font-family;
    font-size: $font-size-default;
    font-weight: 300;
    color: $color-primary;

    &::-webkit-scrollbar {
        display: none;
    }

    min-height: 100vh;
}

.bold {
    font-weight: 700;
}

a {
    transition: color 500ms;
    cursor: pointer;

    &:hover {
        color: $color-hover;
    }
}

section {
    width: 100%;

    h1.section-header {
        font-size: calc(2.5*$font-size-header);
        // text-transform: uppercase;
        width: 100%;
        max-width: $max-content-width;
        margin: 0 auto;
        padding: 1rem;
        margin-bottom: 2rem;
        font-weight: 500;
        border-bottom: .25rem solid transparentize($color-primary, .5);
    }

    h1.section-subheader {
        font-size: calc(1.5*$font-size-header);
        // text-transform: uppercase;
        width: 100%;
        max-width: $max-content-width;
        text-transform: uppercase;
        margin: 0 auto;
        padding: .5rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .expand-btn {
        appearance: none;
    }

    .content-section {
        width: 100%;
        text-align: left;
        // font-family: $font-family;
        text-transform: uppercase;
        font-size: calc(1.25 * $font-size-header);
        font-weight: 400;
        padding: .5em;
        border-bottom: .05em solid $color-light;
        margin: 1rem 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.expandable {
    margin-bottom: 2.5rem;
    width: 100%;

    .content-subheader, .content-section {
        cursor: pointer;

        transition: color 500ms, border-color 500ms;

        &:hover {
            color: $color-hover;

            border-color: $color-hover;
        }
    }

    &:has(.content-subheader .expand-btn:not(:checked)), &:has(.content-section .expand-btn:not(:checked)) {
        .expand-arrow::before {
            content: "\f078";;
        }

        .content-wrapper {
            opacity: 0;
            // display: none!important;
            height: 0;
            overflow-y: hidden;
        }
    }

    &:has(.content-subheader .expand-btn:checked), &:has(.content-section .expand-btn:checked) {
        .expand-arrow::before {
            content: "\f077";;
        }
    }

    .expand-arrow {
        font-family: FontAwesome;
    }
}

.content-wrapper {
    height: auto;
    max-width: $max-content-width;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2.5rem;
    gap: 2rem;
    opacity: 1;
    transition: opacity 1000ms, height 1000ms;

    h2 {
        font-size: calc(1.1 * $font-size-header);
    }

    h3 {
        font-size: calc(1.0 * $font-size-header);
    }
}