body {
    background: linear-gradient(90deg, $background-color-darker, $background-color-dark);
    font-family: $font-family;
    font-size: $font-size-default;
    color: $color-light;

    &::-webkit-scrollbar {
        display: none;
    }

    min-height: 100vh;
}

.bold {
    font-weight: 700;
}

a {
    transition: color 500ms;
    cursor: pointer;

    &:hover {
        color: $color-hover;
    }
}

section {
    width: 100%;

    h1.content-header {
        width: 100%;
        text-align: center;
        // font-family: $font-family;
        text-transform: uppercase;
        font-size: calc(1.75 * $font-size-header);
        font-weight: 800;
        padding: .5em;
        background-color: transparentize($background-color-light, .0);
        color: $color-dark;
        margin: 1rem 0;
    }

    h2.content-subheader {
        width: 100%;
        text-align: center;
        // font-family: $font-family;
        text-transform: uppercase;
        font-size: calc(1.5 * $font-size-header);
        font-weight: 600;
        padding: .5em;
        // background-color: $background-color-light;
        // color: $color-dark;
        margin: 1rem 0;

        border-top: .1em solid $color-light;
        border-bottom: .1em solid $color-light;
    }
}

.content-wrapper {
    max-width: $max-content-width;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2.5rem;
    // z-index: 10;

    h2 {
        font-size: calc(1.1 * $font-size-header);
    }

    h3 {
        font-size: calc(1.0 * $font-size-header);
    }
}