// $background-color-darker: #1d1d2a;
$background-color-darker: #020401;
// $background-color-dark: #343440;
$background-color-dark: #082010;
// $background-color-light: #97999b;
$background-color-light: #CDC5B4;

$background-primary: $background-color-light;
$background-secondary: $background-color-dark;

$color-primary: $background-color-darker;
$color-secondary: $background-color-light;

$color-light: $background-color-light;
$color-dark: $background-color-darker;
$color-success: #84DD63;
$color-error: #dd6363;
$color-hover: #99582A;

$font-family: Mukta;
$font-size-default: 21px;
$font-size-header: 28px;
$font-size-section: 24px;
$font-size-secondary: 17px;
$font-size-caption: 15px;

$max-content-width: 1920px;

$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;


// $max-width: 1200px;
// $max-width-wide: 1600px;
// $max-header-width: 1600px;
// $max-footer-width: 1600px;
// $main-header-height: calc(100vh * 0.2);
// $main-footer-height: calc(100vh * 0.05);
// $content-header-height: calc(.7 * $main-header-height);
// $content-footer-height: calc(1.0 * $main-footer-height);

// $font-decor: Academy Engraved LET;

// $font-plain: Sorts Mill Goudy;

// $main-nav-font-size: 0.15 * $main-header-height;

// $primary-color:   hsl(231 18% 14%);
// $secondary-color: hsl(26, 66%, 41%);
// $tertiary-color:  hsl(190, 7%, 84%);

// $danger-color: hsl(7, 66%, 41%);
// $success-color: hsl(110, 66%, 26%);

// $text-light-color: $tertiary-color;
// $text-dark-color: $primary-color;