#kontakt {

    .content-wrapper {
        // z-index: 10;
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }


    .legal-info {
        // z-index: 10;
    }

    .contact-ways, .socials {
        // z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;

        font-size: calc(1.25 * $font-size-header);

        i {
            font-size: 1.2em;
            padding: .5em;
        }

        a {
            transition: color 500ms;

            &:hover {
                color: $color-hover;
            }
        }
    }

    a.map-wrapper {
        width: 50%;
        display: block;
        position: relative;
        align-self: center;

        img.map {
            width: 100%;
            border-radius: 1rem;

            transition: box-shadow 500ms;
        }

        img.location-dot {
            position: absolute;
            
            width: 10%;
            left: 74.5%;
            top: 57%;
            // filter: brightness(0) saturate(100%) invert(73%) sepia(4%) saturate(198%) hue-rotate(169deg) brightness(85%) contrast(82%);
            // filter: brightness(0) saturate(100%) invert(88%) sepia(8%) saturate(436%) hue-rotate(3deg) brightness(89%) contrast(93%);

            transition: width 500ms, left 500ms, top 500ms;
        }

        &:hover {
            img.location-dot {
                filter: brightness(0) saturate(100%) invert(35%) sepia(81%) saturate(394%) hue-rotate(342deg) brightness(93%) contrast(95%);
                width: 15%;
                left: 72%;
                top: 50.5%;
            }    

            img.map {
                box-shadow: 0 0 1.5rem 0 $background-color-dark;
            }
        }
    }

    .map-address {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-weight: 700;
            font-size: calc(1.5 * $font-size-header);
            word-wrap: break-word;
        }

        h3 {
            // font-weight: 700;
            font-size: calc(1.25 * $font-size-header);
        }
    }

    .contact-form {

        scroll-margin: calc($height-header + 1rem);
        
        display: flex;
        flex-direction: column;

        // z-index: 10;

        // border: .25rem solid transparentize($background-color-light,  .9);
        // border: .1rem solid transparentize($background-color-light,  .9);
        border-radius: 1rem;
        box-shadow: 0 0 .7rem 0 $background-color-dark;
        // background-color: $background-color-dark;
        background-color: transparentize($background-color-darker, .75);
        // box-shadow: 0 0 .7rem 0 transparentize($color-light, .8);
        padding: 2rem 1.5rem;

        width: 95%;
        max-width: calc(.45 * $max-content-width);

        gap: 1rem;


        label.input-group {
            display: flex;
            flex-direction: column;
            gap: .4rem;
            width: 100%;

            .field-name {
                font-weight: 300;
            }

            input, textarea {
                font-size: 1.25em;
                padding: .5em;
                background-color: transparentize($background-color-light,  .2);
                color: $color-for-light;
                // border: none;
                border: .05em solid transparent;
                outline: none;
                flex-basis: 100%;
                border-radius: .25em;
                font-family: $font-family;
                font-weight: 300;

                transition: border 500ms, box-shadow 500ms;

                &:focus {
                    // box-shadow: 0 0 0 .05em $color-light;
                    box-shadow: 0 0 .75rem 0 $background-color-darker;
                    border: .05em solid transparentize($background-color-light,  .5);
                }
            }

            textarea {
                // width: 100px;
                resize: none;

                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .error {
                color: $color-error;
                font-size: $font-size-caption;
            }
        }

        .login-button {
            padding: .5em 1em;
            font-size: $font-size-header;
            font-family: $font-family;
            font-weight: 300;
            color: $color-for-light;
            background-color: transparentize($background-color-light,  .2);
            border: .05em solid transparent;
            outline: none;
            border-radius: .25em;
            cursor: pointer;

            transition: box-shadow 500ms, background-color 500ms, border 500ms;

            &:hover {
                box-shadow: 0 0 .75rem 0 $background-color-dark;
                background-color: transparentize($color-hover,  .5);
                border: .05em solid transparentize($background-color-light,  .5);
            }
        }

    }
}