section#cenik {
    .content-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: .25rem;

        .service-item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // gap: .75rem;
            justify-content: space-between;
            align-items: center;
            border: .1rem solid $background-color-darker;
            padding: .75rem 1.5rem;

            width: 95%;
            max-width: calc($max-content-width / 3 - 1.5rem);
            

            &:hover {
                background-color: $background-color-dark;
                cursor: default;
            }

            .service-title {
                font-size: calc(1.25* $font-size-section);
                // text-transform: uppercase;
            }

            .service-duration {
                font-size: calc(1* $font-size-section);
                font-style: italic;
            }

            .service-price {
                font-size: calc(1 * $font-size-section);
                font-weight: 700;
            }
        }

        .btn {
            padding: .75rem 2.5rem;
            font-size: $font-size-section;

            text-transform: uppercase;

            border-width: .1rem;
            border-style: solid;

            margin: 1rem;

            background-color: $background-color-light;
            border-color: $color-for-light;

            transition: background-color 500ms, border-color 500ms, box-shadow 500ms, font-size 500ms, color 500ms;

            &:hover {
                box-shadow: 0 0 .35em 0 #000;
                background-color: $color-hover;
                border-color: $color-hover;
                color: $background-color-light; 
            }
        }
    }

}